---
import Layout from '../layouts/IndexLayout.astro';
import Card from '../components/Card.astro';
import LinkCard from '../components/LinkCard.astro';
import Clock from '../components/Clock.astro';
---

<Layout title="tyler meekel.dev">
	<h1 class="websitetitle">Tyler Meekel.dev</h1>
	<main class="parent">
		<Card title='	' cardNo='1'>
			<div class="card1desc">
				<p id="description">Hello! I'm <span class="bold">Tyler Meekel</span>, a software developer and technology enthusiast from Calgary, Alberta.
					I specialize in <span class="bold">backend</span> web development, using Go as my preferred language!</p>
				<img src="avatar.png" alt="An avatar of me" id="avatar">
			</div>
		</Card>
		<Card title='Contact' cardNo='2'>
			<h3>Links</h3>
			<a href="https://linkedin.com/in/tylermeekel">LinkedIn</a>
			<a href="https://github.com/tylermeekel">Github</a>
			<a href="https://instagram.com/tylermeekel">Instagram</a>
			<a href="/resume">Resume</a>
			<h3>Details</h3>
			<p>Email: <a href="mailto:ty.meekel@gmail.com"> ty.meekel@gmail.com</a></p>
			<p>Phone: <a href="tel:5877072340">(587) 707 2340</a></p>
			
		</Card>
		<Card title='Current Time' cardNo='3'>
			<Clock></Clock>
		</Card>
		<LinkCard href='https://github.com/tylermeekel/Gazelle' title='Now' cardNo='4'>
			<div class="linkcardbox">
				<p class="linkcardtext">currently making a game engine in go...</p>
			</div>
		</LinkCard>
		<LinkCard href='/projects' title='Projects' cardNo='5'>
			<div class="linkcardbox">
				<p class="linkcardtext">look at my projects!</p>
			</div>
		</LinkCard>
		<Card title='Facts' cardNo='6'>
			<h3>Languages I Know</h3>
			<ul>
				<li>Go</li>
				<li>JavaScript</li>
				<li>Python</li>
				<li>C#</li>
				<li>C++</li>
				<li>...and more!</li>
			</ul>
			<h3>Frameworks I Know</h3>
			<ul>
				<li>React</li>
				<li>Next.js</li>
				<li>Svelte</li>
				<li>.NET MAUI</li>
			</ul>
			<h3>Technologies I Use</h3>
			<ul>
				<li>Git/GitHub</li>
				<li>Linux</li>
				<li>Heroku</li>
			</ul>
			<h3>Hobbies and Passions</h3>
			<ul>
				<li>Fantasy Novels</li>
				<li>Cats</li>
				<li>Video Games</li>
				<li>Music (all kinds)</li>
			</ul>
		</Card>
		<LinkCard href='/blog' title='Blog' cardNo='7'>
			<div class="linkcardbox">
				<p class="linkcardtext">read my thoughts</p> 
			</div>
		</LinkCard>
	</main>
</Layout>

<style>

	.linkcardtext {
		font-size: 20px;
		font-style: italic;
	}

	.linkcardbox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	a {
		text-decoration: none;
		color: inherit;
		width: min-content;
		font-style: italic;
	}

	main {
		height: 85dvh;
		width: 85dvw;
		display: flex;
		flex-direction: column;
		gap: 10px;
		
	}

	.websitetitle {
		color: #00ADB5;
		margin-bottom: 10px;
	}

	#avatar {
		width: 50%;
		background-color: #00ADB5;
		border-radius: 50%;
	}
	
	.card1desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	#description {
		order: 1;
		padding-left: 6px;
		font-size: 25px;
		border-left: 2px solid white;
	}

	.bold {
		font-weight: 700;
	}

	@media screen and (min-width: 850px) {
 		main {
    		display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, 1fr);
			grid-column-gap: 10px;
			grid-row-gap: 10px;
  		}

		.websitetitle {
			display: none;
		}

		#description {
			width: 50%;
			order: unset;
		}

		.card1desc {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}

		#avatar {
			height: 75%;
			width: auto;
		}
	}

	
</style>