---
import IndexLayout from '../layouts/IndexLayout.astro'
---

<IndexLayout title='Projects'>
    <main>
        <h1>Projects</h1>
    </main>
</IndexLayout>

<style>
    main {
        width: 80%;
        margin-top: 10dvh;
        height: 90dvh;
        padding: 50px;
		color: #EEEEEE;
    }
</style>