---
---

<div id="clock">
    <p id="clocktext">THIS IS A CLOCK</p>
</div>

<style>
    #clock {
        height: 100%;
        display: flex;
        align-items: center;
    }

    #clocktext {
        font-family: "Bitter";
        font-size: 40px;
    }
</style>

<script src="../scripts/Clock.js"></script>