---
interface Props {
	title: string;
	cardNo: string;
	href: string;
}

const { title, cardNo, href } = Astro.props;
---
<a href={href} class:list={["card", "card"+cardNo]}>
	<div class="titlediv"><h1 aria-label={title.length < 1 ? "Description" : title}>{title}</h1>
	<h1>🔗</h1></div> 
	<slot />
</a>
<style>
	.card:hover {
		box-shadow: inset 0 0 0 5px #00ADB5;
	}

	.titlediv {
		display: flex;
		justify-content: space-between;
	}

	.card {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 20px;
		background-color: #393E46;
		color: #EEEEEE;
		background-image: none;
		border-radius: 7px;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	h1 {
		color: #00ADB5;
		font-size: medium;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.card1 { grid-area: 1 / 1 / 3 / 4; }
	.card2 { grid-area: 3 / 1 / 5 / 2; }
	.card3 { grid-area: 3 / 2 / 4 / 4; }
	.card4 { grid-area: 4 / 2 / 5 / 3; }
	.card5 { grid-area: 4 / 3 / 5 / 4; }
	.card6 { grid-area: 1 / 4 / 4 / 5; }
	.card7 { grid-area: 4 / 4 / 5 / 5; }

	a {
		text-decoration: none;
	}
</style>
